<a href="https://colab.research.google.com/github/liberato10/FilteringModule/blob/main/Filtering1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive

drive.mount('/content/drive')
import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
# Keep in mind that the filename will likely be different on your computer (especially later in course)

filename = '/content/mortgages.csv'

df = pd.read_csv(filename)
df.head()

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,Mortgage Name,Interest Rate
0,1,400000.00,1686.42,1000.00,686.42,399313.58,30 Year,0.03
1,2,399313.58,1686.42,998.28,688.14,398625.44,30 Year,0.03
2,3,398625.44,1686.42,996.56,689.86,397935.58,30 Year,0.03
3,4,397935.58,1686.42,994.83,691.59,397243.99,30 Year,0.03
4,5,397243.99,1686.42,993.10,693.32,396550.67,30 Year,0.03

In [6]:
# Let's first start by looking at the values contained in the Mortgage Name column.

# Also, I encourage you to lookup what the value_counts method does using the python help function

df['Mortgage Name'].value_counts()

30 Year    720
15 Year    360
Name: Mortgage Name, dtype: int64

In [7]:
# Notice that the filter produces a pandas series of True and False values

mortgage_filter = df['Mortgage Name']=='30 Year'

mortgage_filter.head()

0    True
1    True
2    True
3    True
4    True
Name: Mortgage Name, dtype: bool

In [8]:
# Approach 1 using square brackets

# Filter dataframe to get a DataFrame of only '30 Year'

df[mortgage_filter].head()

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,Mortgage Name,Interest Rate
0,1,400000.00,1686.42,1000.00,686.42,399313.58,30 Year,0.03
1,2,399313.58,1686.42,998.28,688.14,398625.44,30 Year,0.03
2,3,398625.44,1686.42,996.56,689.86,397935.58,30 Year,0.03
3,4,397935.58,1686.42,994.83,691.59,397243.99,30 Year,0.03
4,5,397243.99,1686.42,993.10,693.32,396550.67,30 Year,0.03

In [9]:
# Approach 2 using loc

# Filter dataframe to get a DataFrame of only 30 year mortgages

df.loc[mortgage_filter, :].head()

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,Mortgage Name,Interest Rate
0,1,400000.00,1686.42,1000.00,686.42,399313.58,30 Year,0.03
1,2,399313.58,1686.42,998.28,688.14,398625.44,30 Year,0.03
2,3,398625.44,1686.42,996.56,689.86,397935.58,30 Year,0.03
3,4,397935.58,1686.42,994.83,691.59,397243.99,30 Year,0.03
4,5,397243.99,1686.42,993.10,693.32,396550.67,30 Year,0.03

In [10]:
# Notice that it looks like nothing changed

# This is because we didn't update the dataframe after applying the filter

# The above output is local - we cannot use it anymore since we did not actually change/update the dataframe

# We would need to save the above code as a variable to use the filtered dataframe in future code cells

df['Mortgage Name'].value_counts()

30 Year    720
15 Year    360
Name: Mortgage Name, dtype: int64

In [11]:
# Filter dataframe to get a DataFrame of only 30 year mortgages

# Notice we are overwriting df here to save just the 30 year mortgage data

# And now, only 30 year mortgages are in the output when we run .value_counts()

df = df.loc[mortgage_filter, :]

df['Mortgage Name'].value_counts()

30 Year    720
Name: Mortgage Name, dtype: int64

In [12]:
# Notice that the filter produces a pandas series of True and False values

df['Interest Rate']==0.03

0       True
1       True
2       True
3       True
4       True
       ...
715    False
716    False
717    False
718    False
719    False
Name: Interest Rate, Length: 720, dtype: bool

In [13]:
interest_filter = df['Interest Rate']==0.03

df = df.loc[interest_filter, :]

df['Interest Rate'].value_counts(dropna = False)

0.03    360
Name: Interest Rate, dtype: int64

In [43]:
df = df.loc[mortgage_filter & interest_filter, :]